body {
}

h1{
    color:white;
    font-size:3rem;
}

.containerImg {
    width: 20%;
    overflow: hidden;
    text-align: center;
    height: 100%;
}

.img {
    width: 90%;
    padding-top: 0.5rem;
}

.container{
    width:80%;
    margin: 0 auto;
    margin-top:1rem;
}

.product{
    background-color:white;
    display:flex
}
.details{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    display:flex;
    font-size:1rem;
}

.details p{
    padding-bottom: 2rem;
    padding-left:1rem;
    font-weight:bold;
}

.space{
    font-size:1rem;
    padding:0.5rem;
}

.left {
    border-left: 6px solid #f4e1c1;
    border-right: 6px solid #f4e1c1;
    padding-right: 20rem;
}
.right{
    margin-left:1rem;
    display:flex;
    flex-direction:column;
}

.right p{
    display:flex;
    align-items:center;
}

.btn {
    padding: 1rem;
    width: 10%;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #f4e1c1;
}
.btn1 {
    display: flex;
    justify-content: flex-end;
}
.btn:hover {
    text-decoration: underline;
    background-color: #f4e1c1;
}