@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@200..700&display=swap');

.hL {
    font-family: "Oswald", sans-serif;
}

.pL {
    font-family: "Lato", sans-serif;
}

a{
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

.sfondoL {
    background: #5aa3ce;
}

.textL {
    color: white;
}

.btnL {
    background-color: white;
    color: #5aa3ce;
    text-decoration: none;
    border: none;
    padding: 1em 4em; 
}

.contenitoreL {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bordoL {
    border: 3px solid white;
    padding: 2em;
}

.emailIn,
.passwordIn {
    border: none;
    border-bottom: 4px solid white; 
    background-color: transparent; 
    margin-bottom: 10px;
}

