body {

}

.imgProductDetails{
    width: 100px;
}

.modalMessaggio {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modalMessaggio-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.messaggioConfermaModal {
    color: green;
    font-size: 18px;
}

#LeftContainerDetails{
    display: flex;
}

#topProductDetails{
    display: flex;
    flex-direction: column;
}