@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@200..700&display=swap');

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4e1c1;
    z-index: 9999;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#success-message {
    display: none;
    text-align: center;
    font-size: 18px;
    color: green;
    min-height: 100vh;
    background-color: #f4e1c1;
}

    #success-message p {
        border: 2px solid green;
        background-color: rgba(11,156,49,0.2);
        margin: 0;
        width: 350px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-family: "Lato", sans-serif;
    }

#card-element {
    display: flex;
    flex-direction: column;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.container {
    margin: 0 auto;
    font-weight: bold;
    border: 5px solid #5aa3ce;
    padding: 2.5rem;
    min-height: 50vh;
}

.first {
    margin-bottom: 3rem
}

.detailsU {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    margin-bottom: 2rem;
}

    .detailsU input {
        display: flex;
        align-items: center;
    }

.btnShop {
    cursor: pointer;
    margin-top: 2rem;
    width: 150px;
    height: 50px;
    border: 3px solid #5aa3ce;
    background-color: transparent;
    color: #5aa3ce;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    transition: background-color 0.2s ease-in-out, color 0.1s linear;
}

    .btnShop:hover {
        background-color: #5aa3ce;
        color: white;
    }

.contButton {
    display: flex;
    justify-content: flex-end;
}

.all {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4e1c1;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #333333;
}

#titleLbl {
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #5aa3ce;
}

.detailsU label, .detailsU input {
    font-family: "Lato", sans-serif;
    margin: 10px 0;
    align-self: center;
    font-size: 1.2em;
}

.detailsU input {
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 4px solid white;
    color: #333333;
}